*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.back{
    background-image: url(gapanbg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}